
\.ReAuth\.cfg

realms_persistence\.json

usercache\.json

usernamecache\.json

mods

crafttweaker\.log

*.log

\.mixin\.out/

astralsorcery/

crash-reports/

debug/

HammerCore/

itemscroller/

logs/

mputils/

saves/

stall-reports/

TombManyGraves/
